html{
  font-family: freight-sans-pro,sans-serif;
  text-transform: uppercase;
}
body{
    background-color: #36a4c5;
}

header{
   text-align: center;
    font-size: 100px;
    font-weight: 600;
    margin-top: 10%;
    color: #fcea0a;
    justify-content: center;
    display: inline-block;
    margin: auto;
   
}
h1{
  text-align: center;
  color: #dd574c
}

.newMovie{
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: ;
}

.input {
  text-align: center;
  justify-content: center;
  position: relative;
  top: 50%;
  padding: 10px;
  width: 100%;
}
input{
  border: none;
  freight-sans-pro,sans-serif;
}


table, th, td {
    border-collapse: collapse;
    width: fit-content;
    font-size: small
    letter-spacing: 2px;
    color: #57524a;
    color: 0c3131;
    border:none
  }
  th, td {
    background-color: #f3cece;
    padding: 20px;
    font-weight: 300;
    border: 1px solid white;
  }
  
  .btn {
    margin: auto;
    position:absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;  
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color:#63833a;
    color:white
    border: none;
  }
  button{
    text-transform: uppercase;
    background-color: #63833a;
    border: none;
    color: white;
  }

  .container {
    height: 50px;
    padding: 20px;
    position: relative;
    text-align: center;
   }

 
  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
}

footer{
  float:right;
  font-size: x-small;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: 10px;
}
a:visited {
  color: #fcea0a;
  background-color: transparent;
  text-decoration: none;
  
}